<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <style>
      #mosaic_wrapper {
        background-color: aqua;
        width: 960px; /* (panel_height+panel_margin*2)*panels per row = (100px+(10px*2))*8 */
      }

      #mosaic_wrapper .panel {
        float: left;
        width: 100%;
        height: 100px;
        margin: 10px;
        background: url("/home/thetamt3/Pictures/form.png") no-repeat 0 0 fixed;
      }
    </style>
  </head>
  <body>
    <div id="mosaic_wrapper">
      <div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
      </div>
      <div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
      </div>
    </div>
  </body>
</html>
